<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>{% block headblock %}{% endblock %}</h1>
    <div class=metanav>
        {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a> {% else %}
        <a href="{{ url_for('logout') }}">log out</a> {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %} {% if session.logged_in %}
    <div class=navi align="center">
        <td><a href="/story"><button id=newEntry type="button">Creat New Entry</button></a></td>
        &emsp;
        <td><a href="/list"><button id=listEntry type="button">List All Entrys</button></a></td>
    </div>
    {% endif %} {% block body %}{% endblock %}
</div>