{% extends "layout.html" %} {% block title %} Super Sprinter 3000 {% endblock %} {% block headblock %}Super Sprinter 3000{%
endblock %} {% block body %} {% if session.logged_in %}
<ul class=entries>
    <br>
    <table style="width:100%">
        <tr>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Accepting Criteria</th>
            <th>Business Value</th>
            <th>Estimation(h)</th>
            <th>Status</th>
        </tr>

        {% for entry in entries %}
        <tr>
            <td>{{ entry.story_title }}</td>
            <td>{{ entry.user_story }}</td>
            <td>{{ entry.accepting_criteria }}</td>
            <td>{{ entry.business_value }}</td>
            <td>{{ entry.estimation }}</td>
            <td>{{ entry.status }}</td>
            <td><a href="/story/{{ entry.id }}"><button id=penButton type="button">&#9998;</button></a></td>
            <td><a href="/delete/{{ entry.id }}"><button id=trashButton type="button">&#x1F5D1;</button></a></td>
            <tr>
                {% else %}
                <li><em>Unbelievable.  No entries here so far</em> {% endfor %}
</ul>
{% else %}
<div class=flash>You are not logged in. Please log in!</div>
{% endif %} {% endblock %}